[submodule "modules/rmdev_math"]
	path = modules/rmdev_math
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_math.git
[submodule "modules/rmdev_control_algorithm"]
	path = modules/rmdev_control_algorithm
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_control_algorithm.git
[submodule "modules/rmdev_kinematic_solution"]
	path = modules/rmdev_kinematic_solution
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_kinematic_solution.git
[submodule "modules/rmdev_ins"]
	path = modules/rmdev_ins
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_ins.git
[submodule "modules/rmdev_device_model"]
	path = modules/rmdev_device_model
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_device_model.git
[submodule "drivers/rmdev_driver_BMI088"]
	path = drivers/rmdev_driver_BMI088
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_driver_BMI088.git
[submodule "modules/rmdev_message_manager"]
	path = modules/rmdev_message_manager
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_message_manager.git
[submodule "modules/rmdev_debug_assistance"]
	path = modules/rmdev_debug_assistance
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_debug_assistance.git
[submodule "drivers/rmdev_driver_DJIMotor"]
	path = drivers/rmdev_driver_DJIMotor
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/rmdev_driver_DJIMotor.git
